# Ignores logging and caching
api/app/cache/
api/app/logs/
api/web/bundles/

# Sensible files
api/app/config/parameters.yml

# Removing vendors
api/composer.lock
api/vendor/

# Removing UI components
assets/libs/*
node_modules/
npm-debug.log

# Removes the netbeans configuration.
nbproject/

# Removing reports
Reports/
