/* Main background */
body{
    background:#F1F1F1;
}

/* Page transition */
.view-animation{
    &.ng-enter{
        -webkit-animation: fadeIn 0.5s;
        animation : fadeIn 0.5s;
    }
}


/* Form validation */
form input.ng-invalid.ng-touched {
    background-color: #FA787E;
}

form input.ng-valid.ng-touched {
    background-color: #78FA89;
}




